<h2 mat-dialog-title>Add new Todo</h2>
<mat-divider></mat-divider>
<br />
<mat-dialog-content>
  <app-todo-form [todoItem]="todo"></app-todo-form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="action-buttons-container">
    <div class="left-action-button"><button mat-button (click)="onCancel()">Cancel</button></div>
    <div class="right-action-button">
      <button
        mat-raised-button
        #SaveButton
        color="primary"
        [disabled]="(formInvalid$ | async) === true"
        (click)="onAdd()">
        Save
      </button>
    </div>
  </div>
</mat-dialog-actions>
